@using Microsoft.AspNetCore.Identity
@using University.Areas.Identity.Data
@model University.ViewModels.FilterCourses_VM
@inject UserManager<UniversityUser> UserManager

@{
     ViewData["Title"] = "CoursesTeaching";
}

<h3 style="color:darkblue">Courses held by @ViewBag.Message </h3>
<hr/>

<form asp-controller="Courses" asp-action="CoursesTeaching"  asp-route-userID=@UserManager.GetUserId(User)>
    <p>
        Title: <input type="text" asp-for="searchTitle" />
        Programme:
        <select asp-for="searchProg" asp-items="Model.Programmes">
            <option value="">All</option>
        </select>
        Semester:
        <select asp-for="searchSem" asp-items="Model.SemsList">
            <option value="">All</option>
        </select>
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].Credits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].Programme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].EducationLevel)
            </th>
            <th>
                Students Enrolled
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Courses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Credits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Semester)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Programme)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EducationLevel)
                </td>
                <td>
                    <a asp-controller="Enrollments" asp-action="ListEnrolledStudents" asp-route-id="@item.CourseID" asp-route-teacher="@ViewBag.Message">
                        Check Students Enrolled
                     </a>
                </td>
                <td>  
                    <a asp-action="Edit" asp-route-id="@item.CourseID">Edit</a> |   @*error*@
                    <a asp-action="Details" asp-route-id="@item.CourseID">Details</a> |
                    @*<a asp-action="Delete" asp-route-id="@item.CourseID">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
